body{
    margin: 0;                              /*убирает отступы от всех краев*/
    background-image: url(https://altanschool.s3.eu-central-1.amazonaws.com/learns/1697021662483_headerpic.jpg); /*изображение фона*/
    background-size: 100%;                  /*размер фона*/
    background-position-y: -50px;           /*изображение чуть поднято наверх*/
    background-attachment: fixed;           /*фиксация фона*/
}

header{
    height: 100%;               /*высота*/
    padding: 30px;          /*внутренний отступ*/
    text-align: right;      /*текст выровнени влево*/
    color: rgb(0, 0, 91); /*цвет текста*/
    font-size: 25px;        /*размер текста*/
}

h1{
    padding-top: 50px;  /*Дополнительный отступ заголовка*/
    font-size: 80px;    /*размер заголовка*/
    color:rgb(255, 255, 255);  /*цвет*/
}

main{
    height: 1000px;   /*высота основной части*/
    display: flex;
}

footer{
    height: 100%;    /*высота*/
    text-align: left;  /*текст выровннен влево*/
    padding: 50px;   /*внутренний оступ*/
    color: white;  /*цвет текста*/
    font-size: 20px;  /*размер текста*/
}

.social{
    list-style: none; /*убирает маркеры*/
    display: flex; /*отображает в ряд*/
    align-items: left; /*выравнивает иконки по центру внутри каждого пункта*/
    justify-content: left; /*выравнивает все иконки по центру страницы*/
    margin: 0;
    padding: 0;
}

.social li {
    padding-left: 10px;
    padding-top: 20px;
}

.block1{
    width: 25%;
    height: 100%;
background-color: aliceblue;
padding: 10px;
}

.block2{
    width: 25%;
    height: 100%;
    background-color: antiquewhite;
}

.block3{
    width: 25%;
    height: 100%;
    background-color: aqua;
}

.block4{
    width: 25%;
    height: 100%;
    background-color: aquamarine;
}

.block1 li{
background-color: azure;
line-height: 2em;
margin-top: 10px;
border-radius: 3em;
width: 60%;
padding-left: 10px;
height: 100px;
list-style-type: square;
list-style-position: outside;
list-style-type: "\1F3AE";
}

.block1 li :hover{
    background-color: beige;
    color: bisque;
    list-style-type: "\1F3B0";
    width: 70%;
    height: 70px;

}
.block2 li{
    background-color: azure;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 100px;
    list-style-type: square;
    list-style-position: outside;
    list-style-type: "\1F3AE";
    }

.block2 li :hover{
    background-color: black;
    color: blanchedalmond;
    list-style-type: "\1F3B0";
    width: 70%;
    height: 70px;
    
}
.block3 li{
    background-color: azure;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 100px;
    list-style-type: square;
    list-style-position: outside;
    list-style-type: "\1F44D";
    }

.block3 li :hover{
    background-color: blue;
    color: blueviolet;
    list-style-type: "\1F3B0";
    width: 70%;
    height: 70px;
    
}
.block4 li{
    background-color: azure;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 100px;
    list-style-type: square;
    list-style-position: outside;
    list-style-type: "\1F44D";
    }

.block4 li :hover{
    background-color: brown;
    color: burlywood;
    list-style-type: "\1F3B0";
    width: 70%;
    height: 70px;
}

nav.ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    font-size: 20px;
    width: 100%;
    border: 2px solid white;
    text-align: center;
    overflow: hidden;
}

.nav a{
display: block;
text-decoration: none;
color: chartreuse;
padding: 8px 16px;
}

.nav a:hover{
    background-color: chocolate;
    color: coral;
}

.block5{
    width: 100%;
    height: 300px;
    padding: 50px;
    background-color: cornflowerblue;
}

.btn1{
    width: 300px;
    height: 70px;
    background-color: cornsilk;
    color: crimson;
    padding:15px 30px;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    border: none;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0px 0px 100px black;
    cursor:pointer ;
}

.btn1:hover{
    background-color: cyan;
    color: darkblue;
    border: 2px solid black;
    box-shadow: 0px 0px 0px black;
}

.btn1:active{
    background-color: darkcyan;
    color: darkgoldenrod;
}

.block6{
    width: 100%;
    height: 300px;
    padding: 50px;
    background-color: darkgray;
}

.btn2{
    width: 300px;
    height: 70px;
    background-color: darkkhaki;
    color: darkgreen;
    padding:15px 30px;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    border: none;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0px 0px 100px black;
    cursor:pointer ;
}

.btn2:hover{
    background-color: darkmagenta;
    color: darkolivegreen;
    border: 2px solid black;
    box-shadow: 0px 0px 0px black;
}

.btn2:active{
    background-color: darkorange;
    color: darkorchid;
}


.block7{
    width: 100%;
    height: 300px;
    padding: 50px;
    background-color: darkred;
}

.btn3{
    width: 300px;
    height: 70px;
    background-color: darksalmon;
    color: darkseagreen;
    padding:15px 30px;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    border: none;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0px 0px 100px black;
    cursor:pointer ;
}

.btn3:hover{
    background-color: darkslateblue;
    color: darkslategray;
    border: 2px solid black;
    box-shadow: 0px 0px 0px black;
}

.btn3:active{
    background-color: darkslategrey;
    color: darkturquoise;
}


